# Ignorar arquivos temporários, logs e diretórios de cache
/web/sites/default/files/
/web/sites/*/settings*.php
/web/sites/*/services*.yml


vendor/
core/
node_modules/
*.log

# Ignorar arquivos locais específicos
teste.txt
